
.footer{
color: white;

}
footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;


}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 20px;
    
}
.logo a{
    color: black;
    font-size: 20px;
    padding: 0px 20px;
}
.basket{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}
.basket a{
    color: black;
}
.basket:hover{
    cursor: pointer;
    background-color: black;
}
.basket a:hover{
    color: white;
}
.fa-cart-shopping{
    color: black;
}
.fa-cart-shopping:hover{
    color: white;
}
.basket span{
    color: white;
    background-color: black;
}
.hero{
    background-color: black;
    height: 50vh;
    display: flex;
}
.TextinHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.TextinHero h1{
    color: white;
    font-size: 50px;
}
.TextinHero p{
    color: grey;
    font-size: 20px;
}

